.wrapcha {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1250px;
  gap: 10px;
  margin: auto;
}

.card {
  list-style: none;
  text-decoration: none;
  color: black;

  &:hover {
    color: black;
  }
}

.about_name {
  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #111820;

}

.about_price {
  font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
display: flex;
align-items: center;

color: #111820;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.about_free {
  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #707070;
}

.about_watch {
  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #DD1E31;

}