
.create_wrapper{
    width: 100%;
    height: 120vh;
    z-index: 100000;
    position: absolute;
    top: 1px;
    background: #fff;
}

.create_logo img{
    width: 200px;
    height: 100px;

    display: flex;
    justify-content: flex-start;
}

.crete_siginIn_wrapper {
    display: flex;
    justify-content: flex-end;
}

.crete_title {
    text-align: center;
}

.conatine {
    width: 90%;
    margin: 0;
    text-align: center;
    margin-left: 5%;
    // margin-top: 50px;
}

.register_wrapper {
    display: flex;
    width: 70%;
    margin-top: 50px;
    // margin-left: 20%;
    justify-content: center;
    align-items: center;
}

.register_google {
 margin-left: 200px; 
}

.register {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

.wrapper_name_uerName {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.wrapper_name_uerName input {
    width: 140px;
height: 40px;


    background: #F7F7F7;
border: 1px solid #8F8F8F;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}

.wrapper_name_uerName input::placeholder {
    padding: 20px;
}

.register_input {
    width: 300px;
height: 40px;

background: #F7F7F7;
border: 1px solid #8F8F8F;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}

.register_input::placeholder {
    padding: 5px;
}

.register button {
    width: 180px;
    height: 48px;
left: 0px;
right: 0px;
bottom: 0px;
box-sizing: border-box;
background: #C7C7C7;
border: 1px solid #C7C7C7;
border-radius: 24px;
}

.classBtnhover:hover {
    background-color: green;
}

.auth-google-btn {
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: #fff;
    border: 2px solid #002f34;
    height: 50px;
    width: 350px;
    justify-content: center;
    font-size: 18px;
    gap:  0 20px;
    margin-bottom: 0 20px;
    padding: 0px 40px;
    border-radius: 5px;
    svg {
        font-size: 24px;
    }
}

