.category_img_card_wwwrapper img {
    width: 200px;
    height: 200px

}

.category_wrapper_card {
    display: flex;
    
    gap: 20px;
}

.menuCategory_category {
    margin: 20px 0;
}



.category_wrapper_card {
    text-align: center;
}

